* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

.header {
    color: rgb(32 167 68);
    font-size: 32px;
    font-weight: 700;
}

.reservation-container {
    border: 1px solid rgba(0,0,0, 0.25);
    box-shadow: rgba(35, 170, 8, 0.24) 0px 3px 8px;
    border-radius: 4px;
    width: 1000px;
    height: 600px;
}

.rightBorder {
    border-right: 1px solid rgba(0,0,0, 0.25);
}

.primaryDetailContainer {
    border: 1px solid rgba(0,0,0, 0.25);
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.primaryDetailLink {
    text-decoration: none !important;
    font-weight: 600;
}

.primaryDetailContainer:hover {
    color: white;
    background-color: rgb(32 167 68);
}
    .primaryDetailContainer:hover .primaryDetailLink {
        color: white;
    }

.selected {
    cursor: default;
    background-color: rgb(32 167 68);
}
    .selected a {
        color: white;
    }

.filterHeader {
    display: flex;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(25,25,25);
    margin-bottom: 4px;
}

.filterInputContainer p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.filterInputContainer input {
    margin-left: 10px;
    width: 90%;
    height: 28px;
}

.bottomBorderGreen {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filterContainer {
    padding-top: 4px;
    padding-bottom: 8px;
}

.filterSelect {
    height: 32px;
    font-size: 16px;
}